.navbar {
  height: 60px;
  width: 100%;
  background-color: #353535;
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}
.logo {
  font-size: 1.6rem;
}
.search-bar input {
  width: 250px;
  height: 40px;
  background-color: #dae2e7bd;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;
  color: white;
}
.avatar {
  color: white;
}
