.sidebar-container {
  width: 300px;
  height: 500px;
  margin-top: 5px;
  background-color: #353535;
}
.nav-item {
  display: flex;
  width: 90%;
  padding: 10px;
  margin-top: 30px;
  margin-left: 10px;
  cursor: pointer;
}
.nav-item:hover {
  background-color: rgb(34, 31, 31);
}
.nav-item span {
  margin-right: 10px;
}
@media only screen and (max-width: 768px) {
  .text {
    display: none;
  }
}
